{% extends "base.html" %}

{% block content %}

<div class="detail-container">

    <img src="{{ p['image'] }}" class="detail-img">

    <div class="detail-info">
        <h2>{{ p['name'] }}</h2>
        <p><b>Shop:</b> {{ p['shop_name'] }}</p>
        <h3>₹{{ p['price'] }}</h3>

        <p>✔ 100% Organic<br>
           ✔ No Chemicals<br>
           ✔ Rich in Protein</p>

        <a href="/buy_now?product={{p['name']}}&price={{p['price']}}">
            <button class="buy-btn">Buy Now</button>
        </a>

    </div>

</div>
<form action="/add_to_cart">
    <input type="hidden" name="product" value="{{p['name']}}">
    <input type="hidden" name="price" value="{{p['price']}}">

    Quantity:
    <input type="number" name="qty" value="1" min="1">

    <button>Add to Cart</button>
</form>
{% endblock %}